<!--Formats the Conferences, Events, and Awards section-->

<!--Be careful when adding emojis - some browsers don't support certain emojis, so they may not be seen-->

<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>🧬Conferences, Events, and Awards</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Insert description of section</p> <!--Example website does not contain descriptions-->
<div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.events %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div>